<div class="card">
  <h2 class="fw-normal font-monospace card-header">Add New friend</h2>
  <div class="card-body">
    <%= render "form", friend: @friend %>    
  </div>
</div>
<br>
<div>
  <%= link_to "Back", friends_path, class: 'btn btn-secondary' %>
</div>
