.container.py-5.px-3.my-4.rounded{:style => "background:#E9ECEF"}
  %h1.display-4.pb-2
    About Us
  %p.lead
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam venenatis purus ipsum, sit amet euismod risus pharetra et. Nulla rutrum aliquet pellentesque. Duis dictum felis et sem sodales, sed maximus ex convallis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas nulla mi, lacinia sit amet facilisis non, luctus ac est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Praesent efficitur nisl dolor, ac vehicula odio consequat vitae. Proin varius bibendum nisl eget posuere. Morbi dignissim lacinia lectus, auctor porttitor purus. Pellentesque justo eros, efficitur ut sagittis sed, sagittis in magna. Nam commodo turpis id quam scelerisque pellentesque.
    %br/
    %br/
    Cras posuere metus tortor, in rhoncus neque tincidunt bibendum. Maecenas interdum eget quam ac rhoncus. Aliquam convallis blandit nulla nec congue. Vestibulum nibh risus, maximus vestibulum odio scelerisque, maximus gravida magna. Duis sapien felis, lobortis vitae feugiat id, efficitur vel turpis. Curabitur finibus pretium purus, in finibus mauris congue et. Nulla gravida non dui in scelerisque. Praesent auctor eros quis porttitor accumsan. Donec non iaculis elit, sed lobortis sem. In porta lorem sed dapibus auctor. Fusce ac erat sed est aliquam porttitor. Proin mollis est eu lorem convallis viverra. Morbi a nisl pretium, hendrerit neque vel, mollis ligula. Curabitur fermentum tortor purus, nec dapibus augue pretium et. Maecenas pretium pharetra urna at dictum. Vestibulum in tincidunt libero.
